<style>
    .tagnav {
      border: solid 1px black;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .tagnav > .tagstitle {
      font-size: 1.6em;
      font-weight: 400;
      align-items: center;
      margin: 0;
    }
    ul.tags {
      margin: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    ul.tags > li {
      padding: 6px;
      font-size: larger;
    }
    ul.tags > li > a {
      color: cornflowerblue;
      text-decoration: none;
    }
    ul.tags > li > a.hasclosed {
      color: lightgray;
    }
    ul.tags > li > a.hasactive::after {
      content: '⁺'
    }
    ul.tags > li > a.hasmilestone::before {
      content: '⋄'
    }
    ul.tags > li > a.hasblocker::after {
      content: '!'
    }
    ul.tags > li > a:hover {
      text-decoration: underline;
    }
</style>
<div class="tagnav">
  <h2 class="tagstitle">Tag nav</h2>
  <ul class="tags"><% tags.map( t => { %>
    <li data-count="<%= t.count %>"><a class="<%= t.class %>"
      href="<% if (process.env.MY_ENV == 'gh-pages') { %><%= t.tag %>.html<% } else { %>/tags/<%= t.tag %><% } %>">@<%= t.tag %></a></li>
  <% }) %></ul>
  <% if (!home) { %><ul class="tags"><li><a
    href="<% if (process.env.MY_ENV == 'gh-pages') { %>index.html<% } else { %>/<% } %>">Home</a></li></ul><% } %>
</div>
