<!DOCTYPE html>
<html lang="en" style="font-size:80%">
<head>
  <meta charset="UTF-8">
  <title>hqtodo</title>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap" rel="stylesheet"/>
  <style>
    h1 {
      font-size: 34pt;
      font-weight: 500;
    }
    h2 {
      font-size: 24pt;
      font-weight: 500;
      margin-top: 2em;
    }
    ul {
      list-style-type: none;
    }
    li {
      font: 600 12pt 'IBM Plex Mono', monospace; /* Consolas, Monaco, monospace; */
    }
    body {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 12pt;
      margin: 16px;
      overflow-y: scroll;
    }
    #ourgantt > svg[id^="mermaid-"] .grid .tick {
      stroke: grey;
      opacity: 0.4;
      shape-rendering: crispEdges;
    }
    #ourgantt > svg[id^="mermaid-"] .grid .tick > text {
      stroke: black;
      opacity: 1;
    }
    #archive {
      background-color: blanchedalmond;
      padding-top: 1rem;
      padding-right: 2rem;
    }
    /* assist https://stackoverflow.com/a/44297341 */
    label {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.2em;
      color: blue;
    }
    input, label#hide-button, #archive { display:none; }
    input#display-toggle:checked ~ label#display-button { display: none; }
    input#display-toggle:checked ~ label#hide-button { display: block; }
    input#display-toggle:checked ~ #archive { display: block; }
  </style>
</head>
<body>
<header>
  <h1>What <%= whoami %> is up to ...</h1>
</header>
<main>
  <div id="ourgantt" class="mermaid">
  gantt
    excludes weekends

    section In Progress
    <% issues.open.active && issues.open.active.forEach( t => { -%>
<%= t.title %> <%= t['tagstring'] %> :<%= t['color'] %>k<%= t['number'] %>, <%= t['prevtask'] %>, <%= t['est'] %>
    <% }); -%>

    section Backlog
    <% issues.open.pending && issues.open.pending.forEach( t => { -%>
<%= t.title %> <%= t['tagstring'] %> :<%= t['color'] %>k<%= t['number'] %>, <%= t['prevtask'] %>, <%= t['est'] %>
    <% }); %>

    <% issues.links && issues.links.forEach( l => { -%>
click <%= l.id %> call linkTo("<%= l.url %>")
    <% }); %>
  </div>
  <div style="display:flex;justify-content:space-around;width:100%">
    <p style="font-size:smaller">Todos with issue numbers link to GitHub.</p>
  </div>
  <h2>Recently closed todos</h2>
  <ul style="list-style-type:none;">
    <%_ issues['closed'].forEach( t => { _%>
<%- include('partials/closed_entry.ejs', {t: t} ); %>
    <%_ }); _%>
  </ul>
  <% if (archive) { %>
    <input type="checkbox" id="display-toggle"/>
    <label for="display-toggle" id="display-button"><span>▹ see more</span></label>
    <label for="display-toggle" id="hide-button"><span>▿ see less</span></label>
    <div id="archive">
      <ul>
        <%_ archive.forEach( (w, wi) => { _%>
        <li>
          <div style="background-color: #ccc;padding:1px 0 1px 6px">Week ending: <%= w.weekEnding %></div>
          <ul id="<%= wi %>" style="margin-left: 0">
            <%_ w.entries.forEach( e => { _%>
<%- include('partials/closed_entry', {t: e }) %>
            <%_ }); _%>
          </ul><span>&nbsp;</span>
        </li>
        <%_ }); _%>
      </ul>
    </div>
  <% } %>
  <h2>Cumulative flow</h2>
  <div id="chart"></div>

</main>

  <hr/>
  <div style="display:flex;justify-content:space-between;width:100%">
  <p style="font-size:smaller;">Page by <a target="_blank"
  href="https://github.com/arkadianriver/hqtodo">hqtodo</a>
  with ♥ from Mermaid and ApexCharts
  </p>
  <p style="font-size:smaller">Page last updated <%= pageupdated %><br/>Task file last updated <%= fileupdated %></p>
  </div>

  <script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
    var linkTo = url => window.open(url, "_blank");
    mermaid.initialize({
      startOnLoad: true,
      securityLevel: "loose",
      gantt: {
        axisFormat: "%d %b",
        titleTopMargin: 25,
        topPadding: 60,
        barGap: 4,
        barheight: 75,
        bottomMarginAdjust: 1
      }
    });

    var chartOptions = {
      series: [
        {
          name: 'Story points conquered',
          data: <%- jsonchartdata %>
        }
      ],
      chart: {
        type: 'area',
        height: 350,
        //stacked: true,
        events: {
          selection: function (chart, e) {
            console.log(new Date(e.xaxis.min))
          }
        },
      },
      colors: ['#00E396'], // ['#008FFB', '#00E396', '#CED4DC'],
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'stepline'
      },
      fill: {
        type: 'gradient',
        gradient: {
          opacityFrom: 0.6,
          opacityTo: 0.8,
        }
      },
      legend: {
        showForSingleSeries: true,
        position: 'top',
        horizontalAlign: 'left'
      },
      xaxis: {
        type: 'datetime'
      },
    };
    var chart = new ApexCharts(document.querySelector('#chart'), chartOptions);
    chart.render();   
  </script>
</body>
</html>

