<!DOCTYPE html>
<html lang="en" style="font-size:80%">
<head>
  <meta charset="UTF-8">
  <title>hqtodo</title>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap" rel="stylesheet"/>
  <style>
    h1 {
      font-size: 34pt;
      font-weight: 500;
    }
    h2 {
      font-size: 24pt;
      font-weight: 500;
      margin-top: 2em;
    }
    h3 {
      font-size: 20pt;
      font-weight: 500;
      margin-top: 1.2em;
      margin-left: 1.2em;
      padding: 3px 9px 3px 9px;
      background-color: #bc644a;
      color: #efe9b7;
    }
    h4 {
      font-size: 16pt;
      font-weight: 500;
      margin-top: 1em;
      /* margin-left: 1.2em; */
      color: #bc644a;
    }
    ul {
      list-style-type: none;
    }
    li {
      font: 600 12pt 'IBM Plex Mono', monospace; /* Consolas, Monaco, monospace; */
    }
    body {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 12pt;
      margin: 16px;
      overflow-y: scroll;
    }
    #ourgantt > svg[id^="mermaid-"] .grid .tick {
      stroke: grey;
      opacity: 0.4;
      shape-rendering: crispEdges;
    }
    #ourgantt > svg[id^="mermaid-"] .grid .tick > text {
      stroke: black;
      opacity: 1;
    }

    #closed .bullet { color: #555 }
    #closed .date { color: #aaa } /* aaa */
    #closed .title { color: #555 } /* 555 */
    #closed .tagstring { color: #aaa } /* aaa */
    #closed .estimate { color: #037 } /* 037 */

    /* starttheme:plaintasksdefault */
    #archive { background-color: #efe9b7; }
    #archive .divider { background-color: #00000010; color: #bc644a }
    #archive .bullet { color: #00723e }
    #archive .date { color: #B1A68FBF } /* aaa */
    #archive .title { color: #858266 } /* 555 */
    #archive .tagstring { color: #B1A68FBF } /* aaa */
    #archive .estimate { color: #00723e } /* 037 */
    /* endtheme:plaintasksdefault */

    label {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 1.2em;
      color: blue;
      display: block;
      padding: 0.8em 0 1em 0;
    }
    /* show/hide assist https://stackoverflow.com/a/44297341 */
    input, label#display-button { display:none; }
    #archive { display:block; }
    input#display-toggle:checked ~ label#display-button { display: block; }
    input#display-toggle:checked ~ label#hide-button { display: none; }
    input#display-toggle:checked ~ #archive { display: none; }
  </style>
</head>
<body>
<header>
  <h1>What <%= whoami %> is up to ...</h1>
</header>
<main>
  <div id="ourgantt" class="mermaid">
  gantt
    excludes weekends
    todayMarker off

    <% if (issues.milestones.length) { -%>
    section Milestones
    <% issues.milestones.forEach( t => { -%>
    <%= t.title %> <%= t['tagstring'] %> :<%= t['color'] %>k<%= t['number'] %>, <%= t['startdate'] %>, <%= t['est'] %>
    <% }); -%>
    <% } -%>

    <% if (issues.open.active.length) { -%>
    section In Progress
    <% issues.open.active.forEach( t => { -%>
    <%= t.title %> <%= t['tagstring'] %> :<%= t['color'] %>k<%= t['number'] %>, <%= t['startdate'] %>, <%= t['est'] %>
    <% }); -%>
    <% } -%>

    <% if (issues.open.pending.length) { -%>
    section Backlog
    <% issues.open.pending.forEach( t => { -%>
    <%= t.title %> <%= t['tagstring'] %> :<%= t['color'] %>k<%= t['number'] %>, <%= t['startdate'] %>, <%= t['est'] %>
    <% }); -%>
    <% } -%>

    <% issues.links && issues.links.forEach( l => { -%>
    click <%= l.id %> call linkTo("<%= l.url %>")
    <% }); %>
  </div>
  <div style="display:flex;justify-content:space-around;width:100%">
    <p style="font-size:smaller">Todos with issue numbers link to GitHub.</p>
  </div>
  <%_ if (issues['closed'] && issues['closed'].length !== 0) { %>
  <h2>Recently closed todos</h2>
  <ul id="closed" style="list-style-type:none;">    
    <%_ issues['closed'].forEach( t => { _%>
<%- include('partials/closed_entry.ejs', {t: t} ); %>
    <%_ }); _%>
  <%_ } %>
  </ul>
  <% if (archive.length) { %>
    <h2>Archived todos</h2>
    <div id="chart"></div>
  
    <input type="checkbox" id="display-toggle"/>
    <label for="display-toggle" id="display-button"><span>▹ show the archive</span></label>
    <label for="display-toggle" id="hide-button"><span>▿ hide the archive</span></label>
    <div id="archive" style="padding-top:1rem;padding-right:2rem">
      <h3>by Week</h3>
      <ul>
        <%_ archive.forEach( (w, wi) => { _%>
        <li id="<%= w.weekEnding %>">
          <div class="divider" style="padding:1px 0 1px 6px">Week ending: <%= w.weekEnding %></div>
          <ul id="<%= wi %>" style="margin-left: 0">
            <%_ w.entries.forEach( e => { _%>
<%- include('partials/closed_entry', {t: e }) %>
            <%_ }); _%>
          </ul><span>&nbsp;</span>
        </li>
        <%_ }); _%>
      </ul>
      <% if (bytag.length) { %>
      <h3>by Tag</h3>
      <ul>
        <%_ bytag.forEach( e => { _%>
        <li id="<%= e.tag %>"><h4><%= e.tag %> (<%= e.points.toString() %>)</h4>
          <ul>
            <%_ e.items.forEach( i => { _%>
<%- include('partials/closed_entry', {t: i }) %>
            <%_ }); _%>
          </ul><span>&nbsp;</span>
        </li>
        <%_ }); _%>
      </ul>
      <% } %>
  </div>
<% } %>
</main>

  <hr/>
  <div style="display:flex;justify-content:space-between;width:100%">
  <p style="font-size:smaller;">Page by <a target="_blank"
  href="https://github.com/arkadianriver/hqtodo">hqtodo</a>
  with ♥ from Mermaid and ApexCharts
  </p>
  <p style="font-size:smaller">Page last updated <%= pageupdated %><br/>Task file last updated <%= fileupdated %></p>
  </div>

  <script src="https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
    var linkTo = url => window.open(url, "_blank");
    mermaid.initialize({
      startOnLoad: true,
      securityLevel: "loose",
      gantt: {
        axisFormat: "%d %b",
        titleTopMargin: 25,
        topPadding: 60,
        barGap: 4,
        barheight: 75,
        bottomMarginAdjust: 1
      }
    });

    var chartOptions = {
      series: [
        {
          name: 'Cumulative points conquered',
          data: <%- jsonchartdata %>
        }
      ],
      chart: {
        type: 'area',
        height: 350,
        //stacked: true,
        events: {
          selection: function (chart, e) {
            console.log(new Date(e.xaxis.min))
          }
        },
      },
      colors: ['#00E396'], // ['#008FFB', '#00E396', '#CED4DC'],
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'stepline'
      },
      fill: {
        type: 'gradient',
        gradient: {
          opacityFrom: 0.6,
          opacityTo: 0.8,
        }
      },
      legend: {
        showForSingleSeries: true,
        position: 'top',
        horizontalAlign: 'left'
      },
      xaxis: {
        type: 'datetime'
      },
    };
    var chart = new ApexCharts(document.querySelector('#chart'), chartOptions);
    chart.render();   
  </script>
</body>
</html>

